
	.button {
		-fx-text-fill: #15fc03;
		-fx-control-inner-background: #000c01;
		-fx-background-color: #001501;
		-fx-font-weight: bold;
		-fx-font-size: 10;
		-fx-font-Family: consolas;
		-fx-border-color: #000c01;
		-fx-border-width: 1;
		-fx-background-radius: 0;
		-fx-background-insets: 0 0 0 0, 0, 1, 2;
	}
	

	.button:focused {
    	-fx-background-insets: -0.2, 1, 2, -1.4, 2.6;
	}
	
	.text-field {
		-fx-text-fill: #bd0002;
		-fx-control-inner-background: #000c01;
		-fx-background-color: #001501;
		-fx-font-weight: bold;
		-fx-font-size: 14;
		-fx-font-Family: consolas;
	}

	
	.enterButton {
		-fx-shape: "M 204 200 L 204 301 L 301 301 L 301 132 L 168 132 L 168 200 L 204 200";
		-fx-border-width: 0;
	}
	
	#keyboard{
		-fx-control-inner-background: #032401;
		-fx-background-color: #000c01;
		-fx-background-insets: 0 0 0 0, 0, 1, 2;
	}
	
	#pane{
		-fx-background-color: #001501;
	}
	
	#backGround{
		
	}
	
	


	

	




	