.map{
  	-fx-font-family: Consolas;
	-fx-font-size: 18;
	-fx-text-fill: #15fc03;
	-fx-control-inner-background: #000c01;
	-fx-background-color: #001501;
	-fx-border-color: #032401;
	-fx-border-width: 2;
}