	 .progress-bar > .bar {
	    -fx-padding:0;
	    -fx-background-radius:0;
	    -fx-background-insets: 0;
	    -fx-background-color:  #15fc03;
	    -fx-border-color: #15fc03;
		-fx-border-width: 2;
	}

	.progress-bar > .track {
	   -fx-background-color: #000c01;
	   -fx-background-radius: 0;
	   -fx-background-insets: 0, 1;
	   -fx-border-color: #15fc03;
	   -fx-border-width: 2;
	
	}
	
	#solidLabel {
		-fx-text-fill: #000c01;
		-fx-background-color: #15fc03;
		-fx-background-radius: 0;
		-fx-font-family: Consolas;
		-fx-label-padding: 0 0 0 2;
		-fx-font-size: 12;
		-fx-font-weight: bold;
	}
	
	#techPercent {
		-fx-font-family: Consolas;
		-fx-font-size: 12;
		-fx-text-fill: #15fc03;
		-fx-background-color: transparent;
		-fx-border-width: 0;
		-fx-control-inner-background: transparent;
		-fx-label-padding: 0 0 0 0;
	}